__pycache__

.env
.venv/
dist/
*.slurm
.pypirc

.vscode/
internal.md
site/

docs/_build/
docs/build/
docs/compatibility_matrix.md
docs/guides/compatibility_matrix.md

# Not ready for public yet
runner/
tests/
misc/
